<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="HOME_URL" value="https://vd.qianhong.com:4433/vpn/index.html"/>
    <add key="ENTER_URL" value="https://vd.qianhong.com:4433/Citrix/StoreWeb/"/>
    <add key="IS_TASK" value="0"/>
    <add key="IS_BORDER" value="1"/>
    <add key="AUTO_LOGIN" value="1"/>
    <add key="AUTO_RUN" value="0"/>
    <add key="RUN_APP" value="1"/>
    <add key="USER_ID" value="chenyn"/>
    <add key="PSSS_WORD" value="P@ssw0rd"/>
  </appSettings>
</configuration>
